<%= form_for(@visitante) do |f| %>
  <% if @visitante.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@visitante.errors.count, "erros") %> </h2>

      <ul>
      <% @visitante.errors.full_messages.each do |message| %>
        <li class='ls-alert-danger'><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<fieldset>
  <label class="ls-label col-md-3">
    <%= f.label :nome %>
    <%= f.text_field :nome, :placeholder => 'Nome e sobrenome' %>
  </label>
  <label class="ls-label col-md-2">
    <%= f.label :cpf %>
    <%= f.text_field :cpf, :class => 'ls-mask-cpf', :placeholder => '000.000.000-00' %>
  </label>
  <label class="ls-label col-md-2">
    <%= f.label :rg %>
    <%= f.text_field :rg, :class => 'ls-mask-rg', :placeholder => '00.000.000' %>
  </label>
  <label class="ls-label col-md-2">
    <%= f.label :telefone %>
    <%= f.text_field :telefone, :class => 'ls-mask-phone8', :placeholder => '0000-000' %>
  </label>
  </fieldset>
  <div class="ls-actions-btn">
    <%= f.submit :Salvar, :class => 'ls-btn' %>
  </div>
<% end %>
